html {
    font-family: monospace;
}

body {
    /* transition: all 0.5s !important; */
    margin: 0px;
}

h2 {
    margin: 0px;
}

code {
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 100%;
    white-space: break-spaces;
    background-color: var(--light-gray);
    border-radius: 0.5em;
    position: relative;
    bottom: 0.1em;
}

button {
    padding: 0.1em 0.4em;
    margin: 0;
    font-size: 100%;
    white-space: break-spaces;
    background-color: var(--light-gray);
    border-radius: 0.5em;
    border: 0px;
    font-family: inherit;
    color: var(--main-color);
}

button:hover {
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    height: auto;
    font-size: 1vh;
    background: var(--light-gray);
}

.panel {
    border: solid 1px var(--main-color);
    border-radius: 0.3em;
    padding: 0.3em;
    margin-left: 0.5em;
}

#main {
    padding-top: 0.5em;
    display: flex;
}

#right-panel {
    width: 90%;
    margin-right: 0.5em;
    font-size: large;
}

#editor-wrap {
    height: 90vh;
}

#tree {
    width: 10%;
}

.tab {
    padding-left: 0.3em;
    margin-bottom: 0.3em;
    border-radius: 0.3em;
}

.tab:hover {
    background-color: var(--light-gray);
    cursor: pointer;
}

#tab-button {
    width: 60%;
    margin: auto;

    align-self: center;
    border-radius: 0.3em;
    border: solid 1px var(--main-color);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

#tab-button:hover {
    background-color: var(--light-gray);
}

textarea {
    resize: none;
    outline: none;
    border: none;
    font-family: monospace;
    height: calc(100% - 1px);
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.text {
    white-space: pre;
}

input[type=text]:focus {
    outline: 0px;
}

input {
    font-family: monospace;
    font-size: xx-large;
    color: var(--main-color);
    background-color: var(--bg-color);
    border: solid 1px var(--main-color);
    border-radius: 0.3rem;

    width: calc(100% - 0.5em);
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.close {
    float: right;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 0.3em;
    user-select: none;
}

.close:hover {
    background-color: var(--red);
    color: var(--bg-color);
}

.current {
    border: solid 1px var(--middle-color);
}